<% provide(:title, "All users") %>

<% @total = 0 %>
<% @users.each do |user| %>
  <% if !user.admin? %>
        <% @total += 1 %>
  <% end %>
<% end %>
<h1>สมาชิกทั้งหมด (<%= @total %>)</h1>
<%= will_paginate %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>memberid</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>date</th>
      <th>month</th>
      <th>year</th>
      <th>timeofbirth</th>
      <th>birthdate</th>
      <th>moonyear</th>
      <th>email</th>
      <th>phone</th>
      <th>lineid</th>
    </tr>
  </thead>

<% @users.each do |user| %>
    <% if !user.admin? %>
      <%= render user %>
    <% end %>
<% end %>
</table>
<%= will_paginate %>
